@model WebApplication1.Entity.Dept
@{
    ViewBag.Title = "AddDepartment";
    Layout = "~/Views/Shared/loggedLayout.cshtml";
}

<h2>Add Department</h2>
<form action="/Dashboard/AddDepartment" method="post">
    <div class="form-group">
        <label for="DeptName">Department Name :</label>
        <input type="text" class="form-control" id="DeptName" name="DeptName" placeholder="Enter Name" />
        <br /> @Html.ValidationMessageFor(m => m.DeptName, "", new { @class = "text-danger" })
    </div>
    <button class="btn btn-primary">Add Now</button>

</form>
