
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/loggedLayout.cshtml";
}


<h2>Profile</h2>
<hr />
@if (@Session["email"] == null)
{

    Response.Redirect("~/Home/Login");
}
else
{
    <h2>Session:- @Session["email"]!</h2>
}

@if (@ViewBag.username == "undefined")
{
   <h2>Cookie:- Login Required</h2>
}
else
{
    <h2>cookie :- @ViewBag.username</h2>
}