@model  List<WebApplication1.Models.Home>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>


            
    <table class="table table-success table-bordered border-dark table-hover">
        <tr class="table-warning border-dark">
            <td>Name</td>
            <td>Email</td>
        </tr>
        @foreach(var items in Model)
                {
                    <tr>
                        <td>@items.Name</td>
                        <td>@items.Email</td>
                    </tr>
                }
    </table>
            