
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration</h2>

@if (TempData["msg"] != null)
{
    <div class="alert alert-info" role="alert">
        <span>@TempData["Msg"]</span>
    </div>
 }
  

    <form action="/home/registration" method="post">

        Name : <input type="text" class="form-control" name="Namee" placeholder="Enter Name" />
        <br /><br />
        Email: <input type="email" class="form-control" name="Emaill" placeholder="Email" />
        <br /><br />
        Password: <input type="text" class="form-control" name="Passwordd" placeholder="Password" />
        <br /><br />
        DOB:  <input type="date" class="form-control" name="dob" />
        <br /><br />
        Gender: <input type="radio" name="gender" value="male" />Male
        <input type="radio" name="gender" value="female" />female
        <br /><br />
        <button class="btn btn-primary">Sign Up</button>
    </form>

